
.container-carousel{padding-left: 0;padding-right: 0;}
.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    right: 0;
}


.mascotas-perdidas .card{
    margin-bottom: 1em;
}

.buscados{
    margin-top: 4em;
    margin-bottom: 2em;
}